@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Home Page</h1>
</div>

<div class="text-center">
    <img src="~/img/temple.jpg" height="280" />
</div>
<br />

<div>
    <p>
        Use the "quantity" field to let us know how many people will be in your group. Thank you! <br />
        <br />
        We can only add a limited number of tours at this time.
        They will be removing the visitors center soon so that they can complete the landscaping.
        When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard.
        We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time.
        <br />
        We have a lot of last minute cancelations. <br />
        <br />
        We can do groups on Saturday, please text me at 801-628-4488. <br />
        <br />
        <b>General Tour Instructions: <br /></b>
        <ul>
            <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
            <li>Dress casual, except on Sunday</li>
        </ul>

        <b>Special Accommodations (check the appropriate box when signing up for a tour):</b>
 
        <ul>
            <li>Spanish-speaking tours are available, by request.</li>
        </ul>

        <b>Available Tours:</b>

        <ul>
            <li>Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes</li>
            <li>Trailer Tour: On Sunday. Masks are required</li>
            <li><i>Please call or text 801-628-4488 with questions or special requests.</i></li>
        </ul>
    </p>
    <br />
</div>

<div class="text-center">
    <button type="button"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Times">Sign Up</a></button>
</div>