@{
    ViewData["Title"] = "Sign Up Page";
    @model Mission12.Models.Appointment
}



<div class="text-center">
    <h1 class="display-4">Welcome to the Sign Up Page</h1>
</div>

<form method="post" asp-controller="Home" asp-action="Signup">

    <div asp-validation-summary="All"></div>

    <h4>Please Sign Up for a Temple Tour</h4>

    <div class="form-group">
        <input type="hidden" asp-for="Time.TimeValue" value="@Model.Time.TimeValue"/>
    </div>

    <div class="form-group">
        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" />
    </div>
    <div class="form-group">
        <label asp-for="GroupSize">Group Size:</label>
        <input asp-for="GroupSize" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone:</label>
        <input asp-for="Phone" />
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Book Visit" />
    </div>


</form>
