@{
    ViewData["Title"] = "Sign Up Page";
}

@model Time

<div class="text-center">
    <h1 class="display-4">Select a Time: </h1>
</div>
<div class="text-center">
    @foreach (Time t in ViewBag.Times)
    {

        @if (t.Booked == false)
        {
            <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeID="@t.TimeID">@t.Date : @t.TimeValue</a>
            <br />
        }
        else
        {
            <a class="btn btn-secondary m-1">@t.TimeValue</a>
            <br />
        }

    }
</div>

