@{
    ViewData["Title"] = "Sign Up Page";
}

@model Time

<div class="text-center">
    <h1 class="display-4">Select a Time: </h1>
</div>
<div class="text-center">
    <button>Buttons here for the available times</button><br />
    <button>More buttons to pass the value of the time ie 8:00 AM through the slug</button><br />
</div>
