@{
    ViewData["Title"] = "Sign Up Page";
}

@model Time

<div class="text-center">
    <h1 class="display-4">Select a Time: </h1>
</div>
<div class="text-center ">
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="8AM">8:00 AM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="9AM">9:00 AM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="10AM">10:00 AM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="11AM">11:00 AM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="12PM">12:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="1PM">1:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="2PM">2:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="3PM">3:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="4PM">4:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="5PM">5:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="6PM">6:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="7PM">7:00 PM</a><br />
    <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Signup" asp-route-TimeValue="8PM">8:00 PM</a><br />
</div>
